<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、グチろうへようこそ。</h1>
      <p>
      グチろうへのサインアップが成功しました。
      ユーザー名は <%= @user.name %><br>
    </p>
    <p>
      このサイトにログインするには、をクリックしてください。
    </p>
    <p>本サイトにユーザー登録いただきありがとうございます。</p>
    <p>何かご不明な点がございましたらこちらのメールアドレスにお問い合わせください。</p>
  </body>
</html>
