<div class="main-outer">
  <div class="container">
    <div class="outer-left">
      <div class="search-form">
      </div>
      <div class="talk-list">
        <ul class="content">
          <li>
            <ul class="talklist" id="room-list" >
              <li class="talk-room">
                <div class="talk-room-detail">
                  <div class="user-image">
                  </div>
                  <div class="user-info">
                    <div class="user-name">川口</div>
                    <div class="last-talk">こんいちは</div>
                  </div>
                  <div class="date">２．１１</div>
                  <div class="talk-count"></div>
                </div>
              </li>
            </ul>
            <li class="talk-room">
                <div class="talk-room-detail">
                  <div class="user-image">
                  </div>
                  <div class="user-info">
                    <div class="user-name">川口</div>
                    <div class="last-talk">こんいちは</div>
                  </div>
                  <div class="date">２．１１</div>
                  <div class="talk-count"></div>
                </div>
              </li>
            </ul>
            <li class="talk-room">
                <div class="talk-room-detail">
                  <div class="user-image">
                  </div>
                  <div class="user-info">
                    <div class="user-name">川口</div>
                    <div class="last-talk">こんいちは</div>
                  </div>
                  <div class="date">２．１１</div>
                  <div class="talk-count"></div>
                </div>
              </li>
            </ul>
          </li>
          <li class="hide">
            <ul class="talklist" id="friend-list">
            </ul>
          </li>
          <li class="hide">
            <ul class="talklist" id="user-list">
            </ul>
          </li>
        </ul>
      </div>
     <!--  <div class="talk-tab">
        <ul class="talk-tab-ul tab">
          <li class="talk-tab-li select">
          </li>
          <li class="talk-tab-li" >
          </li>
          <li class="talk-tab-li">
          </li>
        </ul>
      </div> -->
    </div>
    <div class="outer-right" id="outer-right">
      <div class="talk-user">
        <div class="talk-user-image"></div>
        <div class="talk-user-name">川口</div>
        <div class="talk-session" id="talk-session-id">
<!-- <div class="talk-session-date"> -->
  <!-- <div class="session-date"><p>3月23日</p></div> -->
          <div class="talk-session-you">
             <p class="talk-content-you">はろー</p>
            <div>2.16</div>
          </div>
          <div class="talk-session-me">
            <p class="talk-content-me">haro-</p>
            <span>3.16</span>
          </div>
            <div class="talk-session-you">
             <p class="talk-content-you">はろー</p>
            <div>2.16</div>
          </div>
          <div class="talk-session-me">
            <p class="talk-content-me">haro-</p>
            <span>3.16</span>
          </div>
            <div class="talk-session-you">
             <p class="talk-content-you">はろー</p>
            <div>2.16</div>
          </div>
          <div class="talk-session-me">
            <p class="talk-content-me">haro-</p>
            <span>3.16</span>
          </div>
        </div>
      </div>
    <div class="talk-text">
    </div>

    </div>
</div>
</div>
