<% provide(:title, "お問い合わせ") %>
<main>
  <div class="detail-container">
  <h2>お問い合わせ</h2>
  <hr size="4" width="90%">
  <p>ｸﾞﾁろうに関するお問い合わせは以下のメールアドレスまでお願いします。</p>
  <br />
  <a href="mailto:karami.goto@gmail.com?subject=お問い合わせ">karami.goto@gmail.com</a>
  </div>
</main>
