<p>こんにちは<%= @resource.name %>さん!</p>
<p>パスワード再発行のリクエストがありました。変更される場合下のリンクをクリックしてください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心当たりがなければ、このメールは破棄してください。</p>
<p>リンクに飛び変更されなければパスワードが変わることはありません。</p>
