<footer>
<div class="l-footer-container">
  <p class="marginb">グチろう&emsp;&emsp;<em class="weight">愚痴でつながるマッチングサービス</em></p>
  <span><a href="/terms">利用規約</a></span>
  <span><a href="/privacy">プライバシーポリシー</a></span>
  <span><a href="/contact">お問い合わせ</a></span>
</div>
</footer>
